<header>
    <div class="container">
        <ul class="header__list">
            <li><a href="/all_cards" class='<%= path === 'all_cards' ? 'current_page' : ''%>'>All Cards</a></li>
            <li><a href="/add_new_card" class='<%= path === 'add_new_card' ? 'current_page' : ''%>'>New Card</a></li>
            <li>Hello, AntonSk98!</li>
        </ul>
    </div>
</header>