<link rel="stylesheet" href="/css/view_card.css">

<div class="card-view" id="card-view">
    <div class="card-container">
        <div class="first-row">
            <h2 id="card-view-title"></h2>
            <div class="card-view-close" onclick="closeView()">&#10006;</div>
        </div>
        <div class="card-view-sticker">
            <div class="description-block">
                <div>Description: </div>
                <div id="card-view-description" class="description"></div>
            </div>
            <div class="card-view-sticker-body">
                <div class="word">
                    <div class="title" id="word_title_id">Word</div>
                </div>
                <div class="translation">
                    <div class="title" id="translation_title_id">Translation</div>
                </div>
            </div>
        </div>
    </div>
</div>