@import "common.css";

.add-new-card {
    width: var(--container-width);
    margin: 0 auto;
}

.add-new-card__form {
    margin-top: 2rem;
}

.add-new-card__basic {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.add-new-card__basic__container {
    display: flex;
    align-items: center;
}

.add-new-card__basic__container > div:first-child {
    flex-basis: 0;
    flex: 2;
    margin-right: 5rem;
}

.add-new-card__basic__container > div:last-child {
    flex: 1;
    overflow: hidden;
    border-radius: 30px;
    
}

.add-new-card__basic__container img {
    width: 100%;
    height: 100%;
    user-select: none;
    -webkit-user-drag: none;
}

.add-new-card__basic__label {
    color: var(--custom-blue);
    font-weight: bold;
    font-size: 1.3rem;
    margin-right: 1rem;
    align-self: center;
}

.add-new-card__basic__text {
    width: -webkit-fill-available;;
    outline: none;
}

textarea::placeholder {
    padding: 0.2rem;
}

.add-new-card__custom__input {
    outline: none;
    border: 0px;
    border-bottom: 2px solid var(--custom-blue);
}

.add-new-card__custom__textarea {
    outline: none;
    border: 2px solid var(--custom-blue);
    border-radius: 10px;
}

.add-new-card__sticker {
    margin-top: 1.5rem;
    overflow-x: auto;
}

.add-new-card__sticker table {
    width: -webkit-fill-available;
}

/* .add-new-card__sticker table {
    justify-content: space-between;
    border-collapse: collapse;
} */

.add-new-card__sticker table th {
    font-size: 1.3rem;
    text-align: left;
    color: var(--custom-blue);
    padding-bottom: 1rem;
}

.add-new-card__sticker table td {
    padding-right: 1.8rem;
    padding-bottom: 1.5rem;
}
.add-new-card__sticker table td:last-child {
    padding-right: 0;
}

.add-new-card__sticker__input {
    width: -webkit-fill-available;
}

.add-new-card__sticker__example {
    width: 50%
}

.add-new-card__buttons {
    margin-top: 0.5rem;
}

.add-new-card__buttons button {
    font-size: 1.2rem;
    background-color: var(--custom-blue);
    outline: none;
    border: none;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.add-new-card__buttons button:hover {
    opacity: 65%;
}

.add-new-card__buttons button:first-child {
    margin-right: 1.5rem;
}

.remove, .clear {
    text-align: center;
    padding: 0.4rem 0;
    background-color: #E4003D;
    border-radius: 20px;
    user-select: none;
    cursor: pointer;
    color: white;
    opacity: 50%;
    transition: 0.3s;
    border: none;
}

.clear {
    background-color: #00B644;
}

.remove:hover, .clear:hover {
    opacity: 100%;
}

.manage-button {
    width: 2rem;
}