@import "common.css";

.outline {
    width: var(--container-width);
    margin: 0 auto;
    margin-top: var(--top-spacing);
}

table {
    width: 70%;
    border-collapse: collapse;
    margin: 0 auto 2rem auto;

}

table caption {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--custom-blue);
    user-select: none;
}

td, th {
    /* border: 1px solid lightgray; */
    padding: 1rem;
    text-align: center;
}

th {
    color: white;
    font-size: 1.2rem;
}

tr:nth-child(even) {
    background-color: #dddd;
}

tr:first-child {
    background-color: var(--custom-blue);
}

tr {
    border: 1px solid #dddd;
}

.words {
    /* width: 15%; */
    text-align: center;
}

.actions {
    display: flex;
    justify-content: space-around;
}

.actions button {
    padding: 0.5rem 0.8rem;
    margin: 0.5rem;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    transition: 0.3s;
}

.actions button:nth-child(1) {
    background-color: var(--custom-blue);
}

.actions button:nth-child(2) {
    background-color: #00B644;
}

.actions button:nth-child(3) {
    background-color: #E4003D;
}

.actions button:hover {
    opacity: 60%;
}

#background {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100000vh;
    background-color: black;
    opacity: 40%;
}

