@import "common.css";

.outline {
    margin-bottom: 2rem;
}

.learn-card-container {
    width: var(--container-width);
    margin: 0 auto;
}

.title h3 {
    text-align: center;
    margin: 0.2rem;
    font-size: 1.5rem;
    color: var(--custom-blue);
}

.title span {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    color: black;
}

.card-info-area {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.card-info-area > div:first-child {
    height: min-content;
    display: flex;
    align-items: center;
    padding: 1.5rem 3rem;
    background-color: var(--custom-blue);
    border-radius:  20px;
    color: white;
    font-size: 1.2rem;
    width: 30%;
}

.card-info-area > div:nth-child(2) {
    display: flex;
    width: max-content;
    align-items: baseline !important;
    margin-left: 5rem;
    align-items: center;
    flex: 3;
    border: 3px solid var(--custom-blue);
    font-size: 1.2rem;
    padding: 2rem 3rem;
    border-radius: 20px;
    min-height: 10vh;
    max-height: 20vh;
    max-width: 50%;
}

.description-name {
    color: var(--custom-blue);
    font-size: 1.5rem;
    font-weight: bold;
}

.card-info-area > div:nth-child(1) > span:nth-child(2) {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.card-info-area > div:nth-child(2) > span:nth-child(2) {
    height: 100%;
    width: 80%;
    word-wrap: break-word;
    overflow: auto;
}

.card-name-margin {
    margin-right: 2rem;
}

.empty-card {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #6C747D
}

.go-back-button {
    outline: none;
    user-select: none;
    border: none;
    border-radius: 20px;
    padding: 1rem 2.5rem;
    color: white;
    background-color: var(--custom-blue);
    cursor: pointer;
    font-size: 1.2rem;
    transition: 0.3s;
}

.go-back-button:hover {
    opacity: 65%;
}

.card-sticker {
    border-radius: 20px;
}

.subtitle {
    margin: 2rem 0;
    font-size: 1.5rem;
    color: var(--custom-blue);
    font-weight: bold;
    text-decoration: underline;
}

hr {
    border-top: 2px solid var(--custom-blue);
    width: 20%;
    margin: 1.5rem auto;
}

.row {
    display: flex;
    border: 2px solid #dddd;
}

.row > div:not(:first-child) {
    margin-left: 2rem;
}

.row > div {
    padding: 2rem 1rem;
    max-height: 10vh;
    overflow: hidden;
    text-overflow: ellipsis;
}

.row:nth-child(even) {
    background-color: #dddd;
}

.row > div:first-child {
    flex: 1;
}

.row > div:nth-child(2) {
    flex: 1;
}

.row > div:last-child {
    flex: 2;
}

.action-section {
    margin-top: 2rem;
}

.action-section button {
    outline: none;
    border: none;
    padding: 1rem 2rem;
    border-radius: 20px;
    background-color: #00B644;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
}

.action-section button:hover {
    opacity: 60%;
}

.action-section button:not(:first-child) {
    margin-left: 2rem;
    background-color: #E4003D;
}